// BUG: contact-info background does not display correctly if windowed thinly on desktop

.contact {
  .half-page-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    z-index: -999;
  }

  section.info {

    h1 {
      font-size: 3rem;

      .accent {
        border-bottom: solid var(--clr-gold) 4px;
      }
    }
  }


  section.contact-form {
    background-color: #ffffff;
    padding-bottom: 50px;

    h2 {
      color: var(--clr-dark-gray);
      font-size: 2rem;
    }

    form {

      input,
      textarea {
        width: 100%;
        border: none;
        background-color: var(--clr-light-gray);
        color: var(--clr-mid-gray);
        margin-bottom: 15px;
        padding: 10px;
      }

      textarea {
        resize: none;
      }
    }
  }

  @media (max-width: 767px) {
    .half-page-background {
      visibility: hidden;
    }
  }

  @media (min-width: 768px) {
    section.info {
      padding-right: 5%;
    }

    section.contact-form {
      padding-left: 5%;
    }
  }

}