.contact-form form {

  input,
  textarea {
    width: 100%;
    border: none;
    background-color: var(--clr-light-gray);
    color: var(--clr-mid-gray);
    margin-bottom: 15px;
    padding: 10px;
  }

  textarea {
    resize: none;
  }

  .error {
    border: 1px solid var(--clr-red);
  }
}